body {
    background-color: #fbfbfb;
  }
  
  .nav {
    background-color: #cdd6df;
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 50rem;
  }

  .nav ul li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding: 0;
  }
  ul{
    list-style: none;
  }
  li{
    padding: 10px;
  }